$app-bar-height: 50px !default;
$app-bar-default-bg: #fff !default;
$app-bar-default-color: #333 !default;

$left-column-color: #fff !default;
$left-column-bg: #2f3136 !default;
$left-column-link-color: #fff !default;
$left-column-link-hover-color: #fff !default;
$left-column-width: 240px !default;

$zindex-app-title: 1030 !default;

$lottery-list-bg: #4285f4 !default;
